body {
    font-family: Arial, sans-serif;
    /* cor do fundo */
    background-color: #edebeb;
     margin: 0;
    padding: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.login-container {
    /* cor do container */
    background-color: #DBB372;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* width: 50vh;
    height: 50vh; */

}


form {
    /* display: flex;
    flex-direction: column;
} */
}
label {
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* cor da caixa input */
    background-color: #ffffff;
}

button {
    padding: 10px;
    background-color: #508696;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 45px;
}

button:hover {
    background-color: rgb(42, 33, 76);
}